@metachar ("utf-8");

a {
    text-decoration: none;
    color: #000;
}

#product {
    width: 1000px;
    height: 850px;
    margin: 0 auto;
    border: 2px solid #000;
}

#product>h3 {
    font-size: 25px;
    color: green;
    text-align: center;
    line-height: 50px;
}

#product>p {
    font-size: 20px;
    color: #000;
    line-height: 30px;
    margin : 20px 0 0 20px;
}

#product>.box {
    width: 200px;
    height: 300px;
    float: left;
    margin: 20px 22px;
    border: 2px solid #000;
    border-radius: 20px;
}

#product>.box:hover {
    box-shadow: 3px 3px 3px #666;
}
#product>.box>a>img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    padding: 3px;
    box-sizing: border-box;
}

#product>.box>a>h4 {
    margin: 0 0 0 5px;
    font-size: 15px;
}

#product>.box>a>p {
    margin: 10px 0 0 5px;
}
#product>.box>a>.rocket{
    color :white;
    background-color: green;
    border-radius: 8px;
    float: left;
    margin: 10px 0 0 5px;
}

#product > .box > .rocket {
    width: 60px;
    height: 40px;
}

#hit {
    width: 1000px;
    height: 850px;
    margin: 0 auto;
    border: 2px solid #000;
}

#hit>h3 {
    font-size: 25px;
    color: green;
    text-align: center;
    line-height: 50px;
}

#hit>p {
    font-size: 20px;
    color: #000;
    line-height: 30px;
    margin : 20px 0 0 20px;
}

#hit>.box {
    width: 280px;
    height: 300px;
    float: left;
    margin: 20px 22px;
    border: 2px solid #000;
    border-radius: 20px;
}

#hit>.box:hover {
    box-shadow: 3px 3px 3px #666;
}


#hit>.box>a>img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    padding: 3px;
    box-sizing: border-box;
}

#hit>.box>a>h4 {
    margin: 0 0 0 5px;
    font-size: 15px;
}

#hit>.box>a>p {
    margin: 10px 0 0 5px;
}
#hit>.box>a>.rocket{
    color :white;
    background-color: green;
    border-radius: 8px;
    float: left;
    margin: 10px 0 0 5px;
}

#hit> .box > .rocket {
    width: 60px;
    height: 40px;
}